.contactcard li {
	display: block;
	height: 24px;
}

.contactcard a, .contactcard p {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.contactcard img {
	display: inline-block;
	float: left;
	clear: left;
	vertical-align: middle;
	margin-right: 8px;
}

.contactcard {
	list-style-type: none;
	padding-left: 15px;
}

.contacticon {
	width: 24px;
	height: 24px;
	display: inline;
	margin-right: 8px;
}

.interests {
	font-style: italic;
}

.vspace {
	height: 20px;
}

.vcenter {
	padding-top: 10px;
	padding-bottom: 10px;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  height: 150px;
}

.cu-contact-info {
  margin-bottom: 0px !important; /* overwrite default CU style */
}

.cu-campus-info {
  margin-bottom: 0px !important; /* overwrite default CU style */
}

.former-column {
  float: left;
  padding: 0px;
}

.former-left {
  text-align: right;
  font-weight: bold;
  width: 50%;
  padding-right: 40px;
}

.former-right {
  font-style: italic;
  text-align: left;
  width: 50%;
  padding-left: 40px;
}

.former-row:after {
  content: "";
  display: table;
  clear: both;
  padding-bottom: 20px;
}

ul.cu-nav-sub a {
	padding: 4px;
}

#sidebar.affix {
  top: 20px;
}

#sidebar.affix-bottom {
  bottom: 190px;
}
