.contactcard {
	list-style-type: none;
	padding-left: 15px;
}

.contacticon {
	width: 24px;
	height: 24px;
	display: inline;
	margin-right: 8px;
}

.interests {
	font-style: italic;
}

.vspace {
	height: 20px;
}

.vcenter {
	padding-top: 10px;
	padding-bottom: 10px;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  height: 150px;
}

.cu-contact-info {
  margin-bottom: 0px !important; /* overwrite default CU style */
}

.cu-campus-info {
  margin-bottom: 0px !important; /* overwrite default CU style */
}